*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/native/jni
/native/libs
/native/3rdparty
*.o
*.a
*.o.d
src/main/jni/MyJni.cpp
src/main/jni/MyJni.h
src/main/libs/
src/main/obj/
